section {
    display: flex;
  }
  
  section .weather {
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
    flex-direction: column;
  }
  
  .weather span {
    font-weight: bold;
  }


  